* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #2d6a4f;
  }
  
  #login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Poppins", sans-serif;
  }
  
  .menu {
    background-color: #b7e4c7;
    padding: 40px;
    border-radius: 2px;
    width: 500px;
  }
  img{
    margin-left: 25%;
  }
  .menu-header {
    margin-left: 30%;
    padding-bottom: 20px;
    opacity: 0.8;
    color: #2d6a4f;
  }
  .menu-content-area {
    display: flex;
    flex-direction: row;
  }

#button{
  display: inline-block;
  text-decoration: none;
  margin-left: 50px;
  font-size: 20px;
  color: #FFFFFF;
  font-family: arial;
  background: linear-gradient(to bottom, #4CAF50, #2D6A4F);
  border: solid #2D6A4F 1px;
  border-radius: 5px;
  padding:18.8px;
  text-shadow: 0px 1px 2px #000000;
  box-shadow: 0px 1px 5px #0D2444;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
#button:hover{
  opacity: 0.9;
  background: linear-gradient(to bottom, #2D6A4F, #4CAF50);
  border: 1px solid #7CAFFF;
  box-shadow: 0px 1px 2px #000000;
}

#button2{
  display: inline-block;
  text-decoration: none;
  margin-left: 30%;
  margin-top: 30px;
  font-size: 20px;
  color: #FFFFFF;
  font-family: arial;
  background: linear-gradient(to bottom, #4CAF50, #2D6A4F);
  border: solid #2D6A4F 1px;
  border-radius: 5px;
  padding:18.8px;
  text-shadow: 0px 1px 2px #000000;
  box-shadow: 0px 1px 5px #0D2444;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
#button2:hover{
  opacity: 0.9;
  background: linear-gradient(to bottom, #2D6A4F, #4CAF50);
  border: 1px solid #7CAFFF;
  box-shadow: 0px 1px 2px #000000;
}

input[type="email"] {
  margin-top: 15px;
  height: 30px;
  width: 200px;
  }